/* CONTENEDOR DE PRODUCTOS */
.products {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 1.5rem;
}

/* CADA TARJETA DE PRODUCTO */
.product {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 380px;
}

/* IMAGEN DEL PRODUCTO */
.product__img {
  width: 100%;
  height: 180px;
  object-fit: contain;
  border-radius: 4px;
}

/* CONTENDOR DE TÍTULO Y PRECIO */
.product__info {
  flex-grow: 1;
}

/* PRECIO DEL PRODUCTO */
.product__price {
  color: orange;
  font-weight: bold;
}

/* BOTÓN DE AÑADIR/ELIMINAR */
.product__button {
  padding: 0.5rem 1rem;
  background-color: blue;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

/* QUITAR LOS PUNTITOS DE LA LISTA DEL CARRITO */
.cart ul,
.cart #cartItems {
  list-style: none;
  padding: 0;
  margin: 0;
}

.cart li {
  padding: 0.4rem 0;
  font-size: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart li:last-child {
  border-bottom: none;
}
.product__button.in-cart {
  background-color: red;
  color: #fff;
}
